div{
    margin: 8px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: white;
    color: blue;
}
.bar{
    background-color: lightgray;
}
.notif{
    margin-left: auto;
    margin-right:8px;
    background-color: darkblue;
    COLOR: WHITE;
    padding: 4px;
}
.logo{
    font-size: 40px;
    font-weight: 300;
}