


.container{
    display: flex;
    border-width:20px;
    height: 400px;
    width: 400px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    border: 8px solid black;
}
.centered-div{
    height:100px;
    width: 100px;
    border-width: 5px;
    background-color: white;
    border: 6px solid maroon;
}